/* centers the content of the game div and gives a background colour*/
#gamediv {
    display: flex;
    justify-content: center;
    background-color: #4DAC71;
    flex-direction: column;
    align-items: center;
}