/* makes the splash screen as big as the display window and colour and centers it */
#splashdiv {
    height: 100vh;
    background-color: #4DAC71;
    border-bottom: thick solid #3BA666;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* centers all text within the splash div */
#splashdiv * {
    text-align: center;
}
